@import "./variables";
.footer{
    padding: 1rem;
    background-color: $olive;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
   
    p{
        color: white;
        text-align: center;
        font-weight: 700;

    }

}